
*{
    margin:0px;
    
    font-family: Verdana, sans-serif;
}

/* body */

body{
background-color: #e9e9e9;

}

/* fine body */

/* header */
#title{
    display: inline-block;
}

#logo{
    vertical-align: middle;
}

header{
    background-color: white;
    
    padding:10px 20px;
    
    margin-bottom:16px;
}
/* fine header */

/* nav */

.rectangle{
    padding:10px;
    
    border-style: solid;
    border-color: #cfcfcf;
    border-width: 3px;
    border-radius: 10px; 
}

#add-task{
    background-color: #47adf1;
    color:white;
}

#add-section{
    background-color: white;
    color: #cfcfcf;
}

nav{
    width: 70%;
    
    margin: auto;
    margin-bottom:10px;
    
    padding:16px 70px 10px;
    
    background-color: white;
}

/* fine nav */

/* main */

main{
    background-color: white;
    
    width: 70%;

    padding:60px 70px;

    margin: auto;
}

/* fine main */

/* section */
section{
    margin-bottom:20px;
}
/* fine section */


/* new task */

.check{
    display: inline-block;

    padding:3px;

    border: 1px solid #62bfa8;
    border-radius: 50%;

    color: #62bfa8;
}

/* fine new task */
