
*{
    margin:0px;
    font-family: Verdana, sans-serif;
}

/* header */
#title{
    display: inline-block;
}

#logo{
    vertical-align: middle;
}

header{
    padding:10px 20px;
}
/* fine header */

