
*{
    margin:0px;
    
    font-family: Verdana, sans-serif;

    box-sizing: border-box;
}

/* body */

body{
background-color: #e9e9e9;

}

/* fine body */

/* header */
#title{
    display: inline-block;
    vertical-align: middle;
}

#logo{
    vertical-align: middle;
}

header{
    background-color: white;
    
    padding:10px 20px;
    
    margin-bottom:16px;
}
/* fine header */

/* nav */

.rectangle{
    padding:10px;
    
    border-style: solid;
    border-color: #cfcfcf;
    border-width: 3px;
    border-radius: 10px; 

    font-weight: bold;
}

#add-task{
    border-color:#47adf1;

    background-color: #47adf1;
    color:white;
}

#add-section{
    background-color: white;
    color: #cfcfcf;
}

nav{
    width: 70%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    margin: auto;
    margin-bottom:5px;
    
    padding:16px 70px 10px;
    
    background-color: white;
}

/* fine nav */

/* main */

main{
    background-color: white;
    
    width: 70%;

    padding:40px 70px;

    margin: auto;
}

/* fine main */

/* section */
section{
    margin-bottom:20px;
}
/* fine section */


/* segni */

.circle{
    display: inline-block;
    
    width: 18px;
    height: 18px;

    border: 1px solid;
    border-radius: 50%;
    
    font-size: .7em;
    text-align: center;
}

.check{
    border-color: #62bfa8;

    color: #62bfa8;
}

.cross{
    border-color: #eb5852;

    color: #eb5852;
}

.task{
    margin-bottom:10px;
}

/* fine segni */

.container{
    display: inline-block;
    
    padding:10px;

    border-radius: 20px;

    color:white;
    font-size: .7em;
}

/* tipi di task */

.editorial{
    background-color: #45abea;
}

.q1-goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;

}

.mobile{
    background-color: #f29e33;

}

.website{
    background-color: #d863a1;

}

.sales{
    background-color: #b0c926;

}

/* fine tipi di task */